#{extends 'main.html' /}
#{set title:'Workshop : PicturePlay' /}

<html>
<head>

<a href="@{Workshop.invite()}">Submit Final</a><br/>
#{form @Application.uploadPicture(), enctype:'multipart/form-data'}
    <input type="file" name="picture.image" />
    <input type="submit" name="submit" value="Save" />
#{/form}
<SCRIPT LANGUAGE="JavaScript">
<!-- Begin
NewImg = new Array ( =  #{list items:models.Picture.findAll(), as :'picture'}
	       <img src="@{Application.getPicture(picture?.id)}" />
	       #{/list}
);
var ImgNum = 0;
var ImgLength = NewImg.length - 1;
//Time delay between Slides in milliseconds
var delay = 3000;
var lock = false;
var run;
function chgImg(direction) {
if (document.images) {
ImgNum = ImgNum + direction;
if (ImgNum > ImgLength) {
ImgNum = 0;
}
if (ImgNum < 0) {
ImgNum = ImgLength;
}
document.slideshow1.src = NewImg[ImgNum];
   }
}
function auto() {
if (lock == true) {
lock = false;
window.clearInterval(run);
}
else if (lock == false) {
lock = true;
run = setInterval("chgImg(1)", delay);
  }
}
//  End -->
</script>



</head>

<body>
<div id="pics2">
<img src="@{Application.getPicture(picture?.id)}" name="slideshow1">
<table>
<tr>
<td align="right"><a href="javascript:chgImg(-1)">Previous</a></td>
<td align="center"><a href="javascript:auto()">Auto/Stop</a></td>
<td align="left"><a href="javascript:chgImg(1)">Next</a></td>
</tr>
</table>
</div>

<div id="pics2">
<img src="@{Application.getPicture(picture?.id)}" name="slideshow2">
<table>
<tr>
<td align="right"><a href="javascript:chgImg(-1)">Previous</a></td>
<td align="center"><a href="javascript:auto()">Auto/Stop</a></td>
<td align="left"><a href="javascript:chgImg(1)">Next</a></td>
</tr>
</table>
</div>

<div id="pics3">
<img src="@{Application.getPicture(picture?.id)}" name="slideshow3">
<table>
<tr>
<td align="right"><a href="javascript:chgImg(-1)">Previous</a></td>
<td align="center"><a href="javascript:auto()">Auto/Stop</a></td>
<td align="left"><a href="javascript:chgImg(1)">Next</a></td>
</tr>
</table>
</div>
</body>
</html>
